{% extends 'base.html' %}
{% load static %}
{% block style %}
    {% include 'utils/styles.html' %}
{% endblock style %}


{% block body %}
{% comment %} <div class="container-scroller"> {% endcomment %}
    <!-- partial:../../partials/_navbar.html -->
    {% include 'utils/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      {% include 'utils/aside.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
       
            {% include 'utils/messages.html' %}
          <div class="row">
            <div class="col-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-primary">Change Password</h4>
                  {% if form %}
                    <form method="POST" class="forms-sample">
                      {% csrf_token %}
                              <div class="form-group col-12">
                                  {% if form.old_password.errors %}
                                  <div class="alert alert-danger mt-2" role="alert">
                                      {{ form.old_password.errors }}
                                  </div>
                                  {% endif %}
                                  <label>Old Password</label>
                                  {{form.old_password}}
                              </div>
                              <div class="form-group col-12">
                                  {% if form.new_password1.errors %}
                                  <div class="alert alert-danger mt-2" role="alert">
                                      {{ form.new_password1.errors }}
                                  </div>
                                  {% endif %}
                                  <label>New Password</label>
                                  {{form.new_password1}}
                              </div>
                              <div class="form-group col-12">
                                  {% if form.new_password2.errors %}
                                  <div class="alert alert-danger mt-2" role="alert">
                                      {{ form.new_password2.errors }}
                                  </div>
                                  {% endif %}
                                  <label>Confirm Password</label>
                                  {{form.new_password2}}
                              </div>
                      <button type="submit" name="change_password" class="btn btn-primary">Change Password</button>
  
                    </form>
                 
                  {% endif %}
                    
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% include 'utils/footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  {% comment %} </div> {% endcomment %}
{% endblock body %}
