{% extends 'base.html' %}
{% load static %}
{% block style %}
    {% include 'utils/styles.html' %}
{% endblock style %}


{% block body %}
{% comment %} <div class="container-scroller"> {% endcomment %}
    <!-- partial:../../partials/_navbar.html -->
    {% include 'utils/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      {% include 'utils/aside.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
       
            {% include 'utils/messages.html' %}
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Searched Results Across Higher Institutions in Kaduna State</h4>
                  <h5 class="font-weight-normal mb-5">Below is a list of students accused for examination malpractice across higher institution in Kaduna State, you can search based on names, upload file with name or upload your applicants image</h5>
                    
                    {% if object_list %}
                        <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Institution</th>
                                    <th>Registration Number</th>
                                    <th>Department</th>
                                    <th>Session</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td class="py-1">
                                        <img src="{{object.image.url}}" alt="image"/>
                                    </td>
                                    <td>{{object.name}} </td>
                                    <td>{{object.institution_id}}</td>
                                    <td>{{object.registration_no}}</td>
                                    <td>{{object.department}}</td>
                                    <td>{{object.session}}</td>
                                    <td>{{object.description}}</td>
                                    <td>{{object.status}}</td>
                                 
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        </div>
                     
                    {% else %}
                        <h3 class="card-title text-danger">No Accused Across All Higher Institutions in Kaduna State</h3>
                    {% endif %}
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {% include 'utils/footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  {% comment %} </div> {% endcomment %}
{% endblock body %}
